<fieldset data-payment-target="additionalFields" data-type="Check">
  <div class="my-5">
    <%= form.label t('.routing_number') %>
    <%= form.text_field :routing_number, class: "input-field" %>
  </div>
  <div class="my-5">
    <%= form.label t('.account_number') %>
    <%= form.password_field :account_number, class: "input-field" %>
  </div>
</fieldset>