<% if @current_item == line_item %>
  <li class="flex justify-between space-x-4 line-item-highlight">
<% else %>
  <li class="flex justify-between space-x-4">
<% end %>
<span class="grow"><%= line_item.quantity %> &times; <%= line_item.product.title %></span>
<span class="font-medium"><%= number_to_currency(line_item.total_price) %></span>
<%= button_to "-", line_item_path(line_item), method: :delete, class: 'text-red-600 ', form_class: 'inline-block' %>
</li>

