<div class="w-full">
  <%= render 'notice' %>
  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
    <%= t('.title_html') %>
  </h1>

  <%= turbo_stream_from 'products' %>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: 'product', object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
